/*I got this instructions from a forum (http://vanillaforums.org/discussion/23978/bootstrap-background-image-issue), to make the background image a responsive image*/
body{
	background:  url(../Images/makeup.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	*background-size: cover;*
}

div.navbar {
	padding-bottom:15px;
	background-color:black;
}



ul.nav{
	padding-top:15px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{
	color:#4F3595;
	background-color:black;
	font-weight:bold;
	font-size:28px;	
	padding-top:0px;
	margin-top:14px; /*I add this so when having a smaller screen the Logo does not overlaps the name "Inicio"*/
}

a.navbar-brand{
	padding-top:10px;
}

.navbar-default .navbar-nav>li>a{
	color: white;
	font-weight:bold;
}

.navbar-default .navbar-nav>li>a:hover{
	color: #4F3595;
	font-weight:bold;
}

ul.dropdown-menu{
	background-color:black;
}

ul.dropdown-menu>li>a{
	color:white;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
	background-color:black;
	color:#4F3595;
}

.navbar .dropdown-menu::after {
    border-bottom: 0px solid transparent;
    border-top: 6px solid white;
    top: auto;
    bottom: -6px;
}

div.starter-template p{
	font-style:italic;
	padding-top:20px;
	float:right;
	font-size:200%
}
div#isa{
	padding-left:100px;
	padding-top:10px;
}

div#diseno{
	padding-left:10px;
	padding-top:20px;
	clear:both;
	
}

/*Accordion css*/
h4.panel-title{
	color:#4F3595;
	font-weight:bold;
	text-align:center;
}

.panel-default{
	border-color:#4F3595;
}

.panel-group .panel{
	margin-bottom:15px;
}

.panel-default>.panel-heading{
	background-color:white;
}

p.content{
	text-align:center;
	font-style:italic;
}
legend{
	padding: 10px;

}

label{
	padding-left:20px;
}

form#myForm{
	width:45%;
	float:left;
}

.form-control{
	margin-left:10px;
}

.btn{
	margin-left:75%;
	padding-left:50px;
	padding-right:50px;
	background-color:#4F3595;
	font-weight:bold;
}

div#info{
	font-size:150%;
	font-weight:bold;
	padding-top:30%;
	color: #4F3595;
	float:right;
	padding-right:20px;
}

div#links{
	width:70%;
	margin-left:auto;
	margin-right:auto;
	padding-top:10px;
}

p#gracias{
	padding-top:10px;
	padding-left:10px;
	font-size:150%;
}









